:root {
  --blue: #6ec2e1ff;
  --teal: #0f7f8dff;
  --beige: #edfe97ff;
  --brown: #412f20ff;
  --border-line: 0.175rem solid var(--teal);

  /* Font Settings */
  font-family: 'Verdana', Arial, sans-serif;
  line-height: 1.5;
  text-rendering: auto;

}

body {
  max-width: 50em;
  margin: 0 auto;
  padding: 3em;
  padding-top: 2em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
  border-bottom: var(--border-line);
}

a {
  color: var(--teal);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
  text-decoration: underline;
}

ul {
  margin-top: 0;
  padding-left: 1em;
}

nav {
  display: flex;
  width: 100%;
}

nav h1 {
  font-weight: 400;
  white-space: nowrap;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-left: auto;
}

nav li {
  margin-left: 1em;
  font-size: 1.2em;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: black;
  text-decoration: underline;
}

footer {
  border-top: var(--border-line);
  font-size: 0.8em;
  padding: 1em 0;
  margin-top: 3em;
}

@media screen and (max-width: 768px) {
  body {
    padding: 1em;
  }

  header nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav li {
    margin: 0.5em 0;
  }
}
